{
    margin: 0;
    font-family: "poppins", sans-serif;
}
body{
    background-color: rgb(240, 216, 220);
}
header{
    border: 2px solid olive;
    width: 85%;
    margin: 5px auto;
    display: flex;
    justify-content: space-between;
}

.btn{
background-color: rgb(23, 56, 220);
color: white;
padding: 15px 30px;
border: none;
border-radius: 10px;
}

.btn:hover{
    background-color: rgb(21, 12, 140);
    cursor: pointer;
    transition: 1s;
}

#highlights-section{
    width: 70%;
    margin: 8px auto;
}

#highlights-section > h2 {
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 25px;
}

#highlights-section > p {
border: 2px solid green;
margin: 0 auto;
width: 50%;
color: rgb(118, 68, 165);
text-align: center;
margin-bottom: 25px;
}

#buy-now-button{
    display: flex;
    justify-content: center;
}
#cover-image-section{
    border: 2px solid orange;
    width: 70%;
    margin: 50px auto;
}

#cover-image-section{
    width: 100px;
}

#search-section{
    border: 2px solid olivedrab;
    width: 70%;
    margin: 50px auto;
}

#search-section > h2{
    text-align: center;
    margin-bottom: 25px;
}

#search-container{
    width: 50%;
    margin: 0 auto;
    border-radius: 8px;
    border: 2px solid black;
    padding: 10px;
    background-color: bisque;
    display: flex;
}

#search-bar{
    width: 70%;
    border: 2px solid blue;
}
#search-bar > input [type="text"]{
    padding: 15px;
    border: none;
    outline: none;
    width: 60%;
    background-color: bisque;
}

#search-button {
    width: 30%;
    border: 2px solid rebeccapurple;
    display: flex;
}

#card-section {
    width: 80%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;

}
.card{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px;
}

.card image{
    background-color: white;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    margin-bottom: 20px;

}
.card-image:hover{
    background-color: aqua;
    transition: 0.8s;
}

.card image img{
    width: 100%;
    height: 400px;
}

.card title {
    text-align: center;
    font-size: 30 px;
    margin-bottom: 20px;
}

.card-description{
    text-align: center;
    margin-bottom: 20px;
    color: gray;
}

.card-price{
 text-align: center;
 font-weight: 500;
 font-size: 25px;
 margin-bottom: 20px;
}

.card-button{
width: 50%;
margin: 0 auto;
display: flex;
justify-content: center;
}